@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body {
  font-family:  helvetica;
  color: black;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-default .navbar-brand {
    color: #000;
}

.badge-error {
  background-color: #b94a48 !important;
}

.badge-error-main{
  background-color: #b94a48 !important;
  width: 32px;
  height: 32px;
}

.badge-success-main{
  background-color: #5cb85c !important;
  width: 32px;
  height: 32px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    overflow: visible;
    height: 0;
    font-weight: bold;
}
